@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto+Mono&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background-color: #0F0020;
    font-size: 100%;
}
/*.menu{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:5em;
    z-index: 10;
}*/.contatos{
    display:flex;
    flex-direction:column-reverse;
    justify-content: right;
    margin-top: 70px;
    margin-left: 80px;
}
.content{
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
    border-top: 0.2px solid rgba(255, 16, 99, 0.884);
}
/*.menu a{
    transition: 1s;
}
.menu a:hover{
    color: rgba(255, 16, 99, 0.884);
}
.button-menu{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: left;
    background-color:transparent;
    border: none;
    color :rgb(255, 255, 255) ;
    cursor: pointer;
    display: none;
    gap:3em;
    z-index: 2;
}
/*.button-fechamenu{
    background-color: transparent;
    border: none;
    color :rgba(255, 16, 99, 0.884) ;
    cursor: pointer;
    height: 45px;
    display: none;
}

@media screen and (max-width: 768px){
    .menu{
        position:absolute;
        flex-direction: column !important;
        top:0;
        background: rgb(173, 123, 169) ; 
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .button-menu{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}*/
.home{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255) ;
    font-family:'Roboto Mono', monospace;
}
.contato{
    height: 24px;
}
.contato2{
    height: 30px;
}
.contato3{
    height: 25px;
}
.intro-img{
    display:flex;
    justify-content:center;
    height: 350px;
}

.intro-img1
{
    border-radius: 50%;
    height: 400px;
    height: 400px;
    border-style:solid;
    border-color: rgb(255, 157, 203);
    border-width:4px;
    
}

.body{
    height:  100vh;
    transition: 1s;
}
.intro-sobre{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 500%;
    
}.intro-sobre-1{
    color: rgba(255, 16, 99, 0.884);
    font-size: 40px;
    font-family:'Roboto Mono', monospace;
}
.name{
    color: rgb(255, 157, 203);
    font-family:'Play', sans-serif;
    font-size: 130px;
}
.intro-img1,.h-sobre-mim , .h-soft , .h-conhecimentos
{
    visibility: hidden ;
}
.sobre-mim{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h-sobre-mim{
    border-top: 0.2px solid rgba(255, 16, 99, 0.884);
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family:'Play', sans-serif;
    color:rgb(255, 157, 203);
    margin-bottom: 16px;
}
.p-sobre-mim{
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
    font-weight: 300;
    color:rgba(255, 16, 99, 0.884);
}
.soft-s, .conhecimentos ,.habilidades, .certificados{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h-soft, .h-conhecimentos, .h-habilidades, .h-certificados {
    border-top: 0.2px solid rgba(255, 16, 99, 0.884);
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
    font-family:'Play', sans-serif;
    color:rgb(255, 157, 203);
    margin-bottom: 16px;

}
.p-soft, .p-conhecimentos, .p-habilidades, .p-certificados{
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    font-weight: 300;
    color:rgba(255, 16, 99, 0.884);
}
.rodape{
    padding: 40px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
