body{
    width: 100vw;
    height: 100%;
    /*background: linear-gradient(98deg , #0f0f0f , #162d3d , #021d44);*/
    background-image: url("/Projeto-Jogo-da-Memoria/RM/wallp.jpeg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
img{
    width: 300px;
}
.api-button , .game-button{
    background-color: #ff3ba7ea;
    border-radius: 8px;
    color: #2afa3b;
    cursor:pointer;
    font-size: 10px;
    max-width: 140px;
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    margin-left: 70px;
    text-shadow: 0 0 15px #00ff00d0;
    color: #00ffff;
    animation: title 1s infinite;
}

@keyframes title {
    50%{
        text-shadow: 0 0 15px #00ffff;
        color: #00ff00d0;
    }
}
